{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="pet-profile">

  <div class="profile">
    <div class="profile-data">
      <div class="profile_img">
        <div class="image">
          {% if profile.profile_picture %}
          <img src="{{ profile.profile_picture }}" alt="profile picture">
          {% else %}
          <img src="{% static 'images/default-user.png' %}" alt="profile picture">
          {% endif %}
        </div>
      </div>

      <div class="personal">
        <div class="edit">
          <p>
            {% if profile.first_name or profile.last_name %}
            {{ profile.first_name }} {{ profile.last_name }}
            {% else %}
            {{ profile.user.email }}
            {% endif %}
          </p>

          <a href="{% url 'profile-edit' profile.pk %}">
            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
          </a>

          <a href="{% url 'profile-delete' profile.pk %}">
            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="delete button">
          </a>
        </div>

        <div class="data">
          <span>{{ photos_count }}</span>
          <p>photos</p>
        </div>
        <div class="data">
          <span>{{ pets_count }}</span>
          <p>pets</p>
        </div>
        <div class="data">
          <span>{{ total_likes_count }}</span>
          <p>likes</p>
        </div>
      </div>
    </div>
  </div>

  <div class="statuses">
    {% for pet in user_pets %}
    <a href="{% url 'pet-details' pet.user.profile.get_profile_name|lower pet.slug %}">
      <div class="head-pet">
        <div class="status">
          <div class="image">
            <img src="{{ pet.personal_photo }}" alt="pet img">
          </div>
        </div>
        <p>{{ pet.name }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="pet-photos">
    {% for photo in user_photos %}
    {% if photo.photo %}
    <a href="{% url 'photo-details' photo.id %}">
      <img src="{{ photo.photo.url }}" alt="pet img">
    </a>
    {% endif %}
    {% endfor %}
  </div>

</div>

{% endblock %}