{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}">
  <title>Petstagram</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="{% url 'common:home' %}">
            <img width="50" src="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}" alt="logo">
          </a>
          <a class="home" href="{% url 'common:home' %}"><i>Petstagram</i></a>
        </div>

        <div class="nav-links">
          <ul class="nav-group">
            <li class="nav-item"><a href="{% url 'pets:pet-add' %}"><i>Add Pet</i></a></li>
            <li class="nav-item"><a href="{% url 'photos:photo-add' %}"><i>Add Photo</i></a></li>
            <li class="nav-item"><a href="#"><i>Profile</i></a></li>
            <li class="nav-item"><a href="#"><i>Log out</i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="profile">
      <div class="profile-data">
        <div class="profile_img">
          <div class="image">
            <img src="{% static 'images/person.png' %}" alt="profile">
          </div>
        </div>

        <div class="personal">
          <div class="edit">
            <p>{{ profile.username }}</p>
            <a href="{% url 'accounts:profile-edit' pk=profile.id %}">
              <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit">
            </a>
            <a href="{% url 'accounts:profile-delete' pk=profile.id %}">
              <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="delete">
            </a>
          </div>
        </div>
      </div>

      <div class="pets">
        <div class="statuses">
          {% for pet in pets %}
          <a href="{% url 'pets:pet_details' username=profile.username pet_slug=pet.slug %}">
            <div class="head-pet">
              <div class="status">
                <div class="image">
                  <img src="{{ pet.image_url }}" alt="{{ pet.name }}">
                </div>
              </div>
              <p>{{ pet.name }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>

      <div class="pet-photos">
        {% for photo in photos %}
        <a href="{% url 'photos:photo_details' pk=photo.id %}">
          <img src="{{ photo.url }}" alt="pet photo">
        </a>
        {% empty %}
        <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts">
        {% endfor %}
      </div>
    </div>
  </main>

  <div class="footer">
    <span class="footer-section">© 2024 SOFTUNI WORKSHOP FOR PYTHON WEB MODULE</span>
  </div>
</body>

</html>