{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}">
    <title>Petstagram</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <!-- Link to Home Page -->
                <a href="{% url 'common:home' %}">
                    <img width="50px" src="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}" alt="img1">
                </a>

                <!-- Link to Home Page -->
                <a class="home" href="{% url 'common:home' %}">
                    <i>Petstagram</i>
                </a>
            </div>

            <div class="nav-links">
                <ul class="nav-group">
                    <li class="nav-item">
                        <a href="{% url 'pets:pet-add' %}"><i>Add Pet</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'photos:photo-add' %}"><i>Add Photo</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i>Profile</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i>Log out</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <!-- Start Edit Pet Section -->
    <div class="edit-delete edit-photo">
        <h2>Edit Pet</h2>
        <!-- Start Edit Pet Form -->
        <form action="{% url 'pets:pet_edit' username=user.username pet_slug=pet.slug %}" method="post">
            {% csrf_token %}
            <p>
                <label for="pet-name">Pet name: </label>
                <input type="text" name="name" placeholder="Name" value="{{ pet.name }}">
            </p>
            <p>
                <label for="pet-date">Date of birth: </label>
                <input type="date" name="birth_date" value="{{ pet.birth_date }}">
            </p>
            <p>
                <label for="pet-image">Link to image: </label>
                <input type="text" name="image" placeholder="Link to image" value="{{ pet.image_url }}" alt="pet image">
            </p>
            <!-- Edit Pet Button -->
            <button class="edit-btn" type="submit">Edit</button>
        </form>
        <!-- End Edit Pet Form -->
    </div>
    <!-- End Edit Pet Section -->
</main>

<div class="footer">
    <span class="footer-section">
        © 2024 SOFTUNI WORKSHOP FOR PYTHON WEB MODULE
    </span>
</div>

</body>
</html>