{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Start Delete Pet Section -->
<div class="edit-delete edit-photo">
    <h2>Delete pet</h2>
    <!-- Start Delete Pet Form -->
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Delete Pet Button -->
        <button class="delete-btn" type="submit">Delete</button>
        <a class="btn btn-primary" href="javascript:history.back()"><button class="edit-btn" type="button">Go
                back</button></a>
    </form>
</div>
<!-- End Delete Pet Form -->
<!-- End Delete Pet Section -->
{% endblock %}