{% for photo in all_photos %}

  <!-- Start Pet Photo -->
  <div class="imgBx" id="photo-{{ photo.id }}">
    <img src="{{ photo.photo.url }}" alt="post" class="cover">
  </div>
  <!-- End Pet Photo -->

  <!-- Start User Details and Image Location -->
  <div class="userDetails">
    {% if photo.location %}
      <span class="location">{{ photo.location }}</span>
    {% endif %}
  </div>
  <!-- End User Details and Image Location -->

  <!-- Start Tagged Pets -->
  <div class="taggedPets">
    {% for pet in photo.tagged_pets.all %}
      <a href="{% url 'pet-details' 'username' pet.slug %}">
        <p class="message"><b>{{ pet.name }}</b></p>
      </a>
    {% endfor %}
  </div>
  <!-- End Tagged Pets -->

  <!-- Link to Photo Details Page -->
  <a href="{% url 'photo-details' photo.pk %}">
    <h4 class="details">See details</h4>
  </a>

  <!-- Date of Publication -->
  <h5 class="postTime">{{ photo.date_of_publication|date:"Y-m-d" }}</h5>

  <!-- Start Like and Share Buttons -->
  <div class="bottom">
    <div class="actionBtns">
      <div class="left">
        <!-- Like Button -->
        <span class="heart">
          <a href="{% url 'like' photo.id %}">
            {% if photo.like_set.all %}
              <i class="fa-solid fa-heart" style="color:#ed4040;"></i>
            {% else %}
              <i class="fa-regular fa-heart"></i>
            {% endif %}
          </a>
        </span>

        <!-- Share Button -->
        <a href="{% url 'share' photo.id %}">
          <i class="fa-solid fa-share"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- End Like and Share Buttons -->

  <!-- Number of Likes -->
  <span class="likes">{{ photo.like_set.count }} likes</span>

  <!-- Start Comments -->
  <div class="comments">
    {% for comment in photo.comments.all %}
      <p><b>Comment:</b> {{ comment.text }}</p>
    {% empty %}
      <p>No comments yet.</p>
    {% endfor %}
  </div>
  <!-- End Comments -->

{% empty %}
  <p>No photos yet.</p>
{% endfor %}