{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Edit Photo Section -->
<div class="edit-delete edit-photo">
    <h2>Edit photo</h2>
    <!-- Start Edit Photo Form -->
    <form method="post" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Edit Photo Button -->
        <button class="edit-btn" type="submit">Save changes</button>
    </form>
    <!-- End Edit Photo Form -->
</div>
<!-- End Edit Photo Section -->
{% endblock %}